*{
    margin: 0px;
    padding: 0px;
    list-style:none;
    font-family: "宋体";
    outline: none;
}
button:active{
    transform: translateY(2px)
}
#main{
    background-image: url(../img/Beijing.png);
    width: 1200px;
    height: 768px;
    position: relative;
    margin:  0 auto;
}
#menu{
    position: relative;
    left: 16px;
    top:63px;
    background-image: url(../img/Zuoce.png);
    background-repeat:no-repeat;
    width: 140px;
    height: 700px;
    display: inline-block;
}
#menu a {
    color: white;
    text-align: center;
    text-decoration:none; 
    font-size: 18px;    
    line-height: 37px;
}
#menu li:hover{
    cursor:pointer; 
    margin-left:-4px;
    background-image: url(../img/ZuoCe_Dianji_kuang2.png);
    opacity: 0.9; 
}
#menu li:active{
    background-color: rgba(47, 89, 117, 0.10);
    box-shadow: 0 5px rgba(47, 89, 117, 0.10);
    transform: translateY(4px);
  }

.looking{
    background-image: url(../img/ZuoCe_Dianji_kuang2.png);
    background-repeat: no-repeat;
    margin-left:-4px; 
}
#function{
    position: absolute;
    top:39px;
}
#fucntion ul{
    max-height: 300px;
}
#function li{
    width: 145px;
    height: 37px;
}

#function a{
    display: block;
    width: 145px;
    height: 37px;
}

#check{
    position: absolute;
    top:326px;
}
#check ul {
    max-height: 420px;
}
#check li{
    width: 145px;
    height: 37px;
}
#check a{
    display: block;
    width: 145px;
    height: 37px;
}



#taskbar{
    width: 1000px;
    height: 40px;
    position: relative;
    left: 57px;
    top: -606px;
    display: inline-block;
}
#zhuxiao{
    display: inline-block;
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 15px;
    color: white;
    text-align: center;
    height: 30px;
    width: 100px;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    right: 50px;
    top:7px;
}
#page{
    display: inline-block;
    position: absolute;
    top: 109px;
    left: 179px;
}
#current{
    color:white;
    display:inline-block;
    font-size: 20px;
    line-height: 40px;
}