*{
    margin: 0px;
    padding: 0px;
    list-style:none;
    font-family: "宋体";
    outline: none;
}
button:active{
    transform: translateY(2px)
}
#main{
    background-image: url(../img/Beijing.png);
    width: 1200px;
    height: 768px;
    position: relative;
    margin:  0 auto;
}
#menu{
    position: relative;
    left: 16px;
    top:63px;
    background-image: url(../img/Zuoce.png);
    background-repeat:no-repeat;
    width: 140px;
    height: 700px;
    display: inline-block;
}
#menu a {
    color: white;
    text-align: center;
    text-decoration:none; 
    font-size: 18px;    
    line-height: 37px;
}
#menu li:hover{
    cursor:pointer; 
    margin-left:-4px;
    background-image: url(../img/ZuoCe_Dianji_kuang2.png);
    opacity: 0.9; 
}
#menu li:active{
    background-color: rgba(47, 89, 117, 0.10);
    box-shadow: 0 5px rgba(47, 89, 117, 0.10);
    transform: translateY(4px);
  }

.looking{
    background-image: url(../img/ZuoCe_Dianji_kuang2.png);
    background-repeat: no-repeat;
    margin-left:-4px; 
}
#function{
    position: absolute;
    top:39px;
}
#fucntion ul{
    max-height: 300px;
}
#function li{
    width: 145px;
    height: 37px;
}

#function a{
    display: block;
    width: 145px;
    height: 37px;
}

#check{
    position: absolute;
    top:326px;
}
#check ul {
    max-height: 420px;
}
#check li{
    width: 145px;
    height: 37px;
}
#check a{
    display: block;
    width: 145px;
    height: 37px;
}



#taskbar{
    width: 974px;
    height: 40px;
    position: relative;
    left: 57px;
    top: -591px;
    display: inline-block;
}
#zhuxiao{
    display: inline-block;
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 15px;
    color: white;
    text-align: center;
    height: 30px;
    width: 50px;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    right: 4px;
    top:5px;
}
#page{
    display: inline-block;
    position: absolute;
    top: 109px;
    left: 179px;
    width: 1000px;
    height: 630px;
}
#page >div{
    height: 630px !important;
}
#current{
    color:white;
    display:inline-block;
    font-size: 20px;
    line-height: 40px;
    position: absolute;
    right: 27px;
    top: -40px;
}


#myTab{
    display: inline-block;
    height: 40px;
    width: 910px;
}
#myTab li{
    /* padding-left: 5px; */
    float: left;
    color: white;
    /* width: 110px; */
    height: 40px;
    line-height: 36px;
    border: 1px solid gray;
    border-radius: 5px;
}
#myTab a{
    max-width: 115px;
}
#myTab li:active{
    transform: translateY(1px)
}


#myTab .active{
    border: 1px solid rgb(20,221,231) !important;
    background-color: rgb(29, 47, 60)
}

.tab-content > div{
    display: none;
  }
  .tab-content > div.active{
    display: block;
  }

  #myTab > li > a {
    text-decoration:none; 
    position: relative;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    background: transparent;
    line-height: 40px;
    border: 0;
    color: white;
  }
  #myTab i{
    float: right;
    cursor: pointer;
    margin-right: 4px;
  }
  #myTab i:hover{
   font-size: 1.2em;
  }