*{
    margin: 0;
    padding: 0;
    font-family: "宋体";
    font-size: 20px;
    outline:none
    
}

button:active{
    transform: translateY(2px);
}
body{
    position: relative;
    background-color: rgb(240, 240, 240) !important;

}

#control_message{
    width: 958px;
    height: 82px;
    position: absolute;
    background-color: rgba(255, 255, 255,0.7);
    left: 77px;
    top:10px;
    display: flex;
    justify-content: space-around;
}
#control_message button{
    height: 30px;
    width: 180px;
    margin: 0 20px;
    margin-top: 25px;
}   

#control_message button:nth-child(1), #control_message button:nth-child(2) {
    width: 160px;
    
}    
 
#background{
    width:961px;
    /* height: 195px; */
    background-color: rgba(255, 255, 255,0.7);
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0,0.1) ;
    position: absolute;
    left: 75px;
    top: 140px;

}
#map{
    margin-bottom: 0px;
}
#graph1{
    width: 948px;
    text-align: center;
    margin-top:4px;
    margin-left:9px; 
}

#graph1 th{
    height:52px;
    text-align: center;
}
#graph1 td{
    height:42px;
}


#graph1_tab2_box{
    max-height: 389px;
    overflow-y: scroll;
}
#graph1 table{
    border-collapse:collapse;
    width: 100%;
    padding: 0px;
}


#graph1 tbody{
    display:block;
}
#graph1 thead tr{
    display:block;
}
#graph1 button{
    height: 30px;
    width: 50px;
    font-size: 18px;
    border: 1px solid rgb(240, 240, 240);
    background-color: rgb(220, 220, 220)
}

#graph1 th:nth-child(1){
    width: 270px;
}
#graph1 td:nth-child(1){
    width: 270px;
}
#graph1 th:nth-child(2){
    width: 270px;
}
#graph1 td:nth-child(2){
    width: 270px;
}
#graph1 th:nth-child(3){
    width: 200px;
}
#graph1 td:nth-child(3){
    width: 200px;
}
#graph1 th:nth-child(4){
    width: 194px;
}
#graph1 td:nth-child(4){
    width: 177px;
}



.but_noactive{
    width: 50px !important;
}

.but_active{
    width: 100px !important;
}
.tr_active{
    color: rgb(11, 174, 231);
}
.tr_active button{
    color: black;
}