*{
    margin: 0;
    padding: 0;
    font-family: "宋体";
    font-size: 20px;
    
}
input::-webkit-input-placeholder { /* WebKit browsers */
    font-size:14px;
    color: rgba(215, 215, 215,0.5);
}
button:active{
    transform: translateY(2px);
}
body{
    position: relative;
}

#search{
    width: 961px;
    height: 158px;
    position: absolute;
    left: 20px;
    color:white;
}
#search div{
    display: inline-block;
    /* border: 1px  solid red; */
}
.search_box{
    height: 100%;
    float: left;
    border: 2px solid rgb(20,221,231);
    border-radius: 20px;
    margin-left: 7px;
}
.search_box1{
    width: 28%;
    position: relative;    
}    
.search_box2{
    width: 63%;
    position: relative;
    left: 40px;
    padding-left: 20px;
}   
.search_box>div{
    display: inline-block;
}
#search input{
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 10px;
    color: white;
    text-align: center;
}

#time{
    width: 330px;
    height:60px;
}

#equ{
    width: 330px;
    height:60px;
}
#man{
    width: 330px;
    height:60px;
}
#count{
    width: 330px;
    height:60px;
}
#map{
    width: 155px;
    height:130px;    
}
#map ul{
    width: 130px;
    height:90px;
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 20px;
    list-style: none;
    text-align: center;
}
#map li{
    margin-top:5px;
}
#map a{
    cursor: pointer;
}

#map a:hover{
    color:rgba(238, 180, 34, 0.5)    
}
#map a:active{
    transform: translateY(2px);
}
.search_box1 #time{
    position: absolute;
    left: 20px;;
}
#equ{
    position: absolute;
    top:60px;
    left: 20px;;    
}
.search_box2 #time{
    position: absolute;
    
}
#man{
    position: absolute;
    top:60px;    
}
#count{
    position: absolute;
    left:400px;
}
.search_box button{
    height: 30px;
    width: 70px;
    border: 2px solid rgb(20,221,231);
    border-radius: 15px;
    color: white;
    background-color: rgba(11, 37, 54,0.6);
    cursor: pointer;
    position: absolute;
    bottom:10px;
}
.search_box div span,input{
    display: block
}
.search_box1 button{
    left: 100px;
}
.search_box2 button{
    left: 265px;
}

#record1{
    background-image:url(../../img/6-2-waikuagn5.png);
    width:960px;
    height: 438px;
    position: absolute;
    left: 23px;
    top:170px;
}


#graph1{
    width: 948px;
    color:white;
    text-align: center;
    margin-top:5px;
    margin-left:5px; 
}

#graph1 table,th,td{
    border: 2px solid rgb(11, 174, 231);
}
#graph1 th{
    height:52px;
}
#graph1 td{
    height:42px;
}
#graph1 th:nth-child(1){
    width: 84px;
}
#graph1 th:nth-child(2){
    width: 144px;
}
#graph1 th:nth-child(4){
    width: 300px;
}
#graph1 button{
    border: 1px solid rgb(20,221,231);
    border-radius: 10px;
    background-color: rgba(29, 47, 60, 0.8);
    color:white;  
    width: 100px;
    cursor: pointer;  
}
#graph1 table{
    border-collapse:collapse;
    width: 100%
}

#graph1 tbody::-webkit-scrollbar {/*滚动条整体样式*/
    width: 13px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#graph1 tbody::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background-color: rgba(193, 193, 193);
    background-repeat: no-repeat;
    }
#graph1 tbody::-webkit-scrollbar-track {/*滚动条里面轨道*/
        background: #EDEDED;
    }
/*滚动条整体样式*/
/*滚动条里面小方块*/
/*滚动条里面轨道*/
#graph1 tbody{
    display:block;
    height: 360px;
    overflow-y: scroll;
    text-align: center;
}
#graph1 thead tr{
    display:block;
}


#graph1 th:nth-child(1){
    width: 89px;
    height: 40px;
}
#graph1 td:nth-child(1){
    width: 90px;
    height: 40px;
}
#graph1 th:nth-child(2){
    width: 150px;
}
#graph1 td:nth-child(2){
    width: 150px;
}
#graph1 th:nth-child(3){
    width: 120px;
}
#graph1 td:nth-child(3){
    width: 120px;
}
#graph1 th:nth-child(4){
    width: 400px;
}
#graph1 td:nth-child(4){
    width: 400px;
}
#graph1 th:nth-child(5){
    width: 175px;
}
#graph1 td:nth-child(5){
    width: 163px;
}






#record2{
    display: none;
}

#record2{
    background-image:url(../../img/6-2-waikuagn5.png);
    width:953px;
    height: 438px;
    position: absolute;
    left: 23px;
    top:170px;
}
#record2>div{
    border-bottom: 1px solid rgb(11, 174, 231);
    width: 947px;
    margin-left:5px; 
}

#record2_title{
    height: 50px;
}

#record2_title div{
    display: inline-block;
    width: 15%;
    height: 25px;
    border: 1px solid rgb(20,221,231);
    border-radius: 10px;
    background-color: rgba(29, 47, 60, 0.8);
    margin-left: 20%;
    margin-top: 17px;
    text-align: center;
    color: white;
}

#record2_title button{
    border: 0px;
    background-color: transparent;
    background-image: url(../../img/10-2-ziti_shengchengxunjianbaogao_kuagn.png);
    background-repeat: no-repeat;
    color:white;  
    margin-left: 30%;
    margin-top: 5px;
    width: 154px;;
    height: 34px;    
    cursor: pointer;  
}
#record2_state{
    height: 38px;
}    

#record2_state>div{
    display: inline-block;
    width:19%;
    height: 100%;
    overflow:hidden;
    border-right: 1px solid rgb(20,221,231);
    
}
#record2_state>div span{
    float:left;
    display: block;
    width: 120px;
    height: 100%;
    color: white;
    line-height: 38px; 
    padding-right: 5px;
}   

#record2_state>div div{
    border-left: 1px solid rgb(20,221,231);
    border-top: 1px solid rgb(20,221,231);
    border-bottom: 2px solid rgb(20,221,231);
    
    background-color: rgba(29, 47, 60, 0.8);
}
#record2_state>div:nth-child(1) span{
    width: 80px;
    padding-left: 5px;
    
}   
#record2_state>div:nth-child(1) div{
    margin-left: 90px;
    width:100%;
    height: 99%;
}  
#record2_state>div:nth-child(2) span{
    width: 80px;
}   
#record2_state>div:nth-child(2) div{
    margin-left: 80px;
    width:100%;
    height: 99%;
} 
#record2_state>div:nth-child(3) span{
    width: 60px;
}   
#record2_state>div:nth-child(3) div{
    margin-left: 60px;
    width:100%;
    height: 99%;
}  
#record2_state>div:nth-child(4) span{
    width: 80px;
}   
#record2_state>div:nth-child(4) div{
    margin-left: 80px;
    width:100%;
    height: 99%;
}  
#record2_state>div:nth-child(5) span{
    width: 110px;
}   
#record2_state>div:nth-child(5) div{
    margin-left: 110px;
    width:100%;
    height: 99%;
}  

#record2_map{
    height: 165px;
}
#record2_map div{
    height: 100%;
    float: left;
    color: white;
}
#record2_map div:nth-child(1){
    width: 90px;
    border-right: 1px solid rgb(20,221,231);   
    margin: 0 auto;  
    text-align: center;
    line-height: 165px
}
#record2_map div:nth-child(2){
    width: 30px;
    border-right: 1px solid rgb(20,221,231);   
    text-align:center;    
    line-height: 30px;
    writing-mode: vertical-rl;
}    
#record2_map div:nth-child(3){
    width: 822px;
    height: 100%;   
}    



#graph2{
    height: 168px;
    color: white;
    text-align: center;
}


#graph2 td{
    height: 60px;
}

#graph2 table{
    border-collapse:collapse;
    width: 100%
}

#graph2 th:nth-child(1){
    width: 89px;
    height: 40px;
}
#graph2 td:nth-child(1){
    width: 88px;
    height: 40px;
}
#graph2 th:nth-child(2){
    width: 120px;
}
#graph2 td:nth-child(2){
    width: 120px;
}
#graph2 th:nth-child(3){
    width: 100px;
}
#graph2 td:nth-child(3){
    width: 100px;
}
#graph2 th:nth-child(4){
    width: 100px;
}
#graph2 td:nth-child(4){
    width: 100px;
}
#graph2 th:nth-child(5){
    width: 530px;
}
#graph2 td:nth-child(5){
    width: 515px;
}
#graph2 tbody{
    display:block;
    height: 128px;
    overflow-y: scroll;
    text-align: center;
}
#graph2 thead tr{
    display:block;
}


#graph2 tbody::-webkit-scrollbar {/*滚动条整体样式*/
    width: 13px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#graph2 tbody::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    background-color: #F90;
background-image: url(../../img/6-2-huadongkuai.png)
    }
#graph2 tbody::-webkit-scrollbar-track {/*滚动条里面轨道*/
        border-radius: 10px;
        background: #EDEDED;
    }





#record3{
    background-image:url(../../img/6-2-waikuagn5.png);
    width:960px;
    height: 438px;
    position: absolute;
    left: 23px;
    top:170px;
}


#graph3{
    width: 948px;
    color:white;
    text-align: center;
    margin-top:5px;
    margin-left:5px; 
}

#graph3 table,th,td{
    border: 2px solid rgb(11, 174, 231);
}
#graph3 th{
    height:52px;
}
#graph3 td{
    height:42px;
}
#graph3 button{
    border: 1px solid rgb(20,221,231);
    border-radius: 10px;
    background-color: rgba(29, 47, 60, 0.8);
    color:white;  
    width: 100px;
    cursor: pointer;  
}
#graph3 table{
    border-collapse:collapse;
    width: 100%
}

#graph3 tbody::-webkit-scrollbar {/*滚动条整体样式*/
    width: 13px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#graph3 tbody::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background-color: rgba(193, 193, 193);
    }
    #graph3 tbody::-webkit-scrollbar-thumb:hover {/*滚动条里面小方块*/
        background-color: rgba(168, 168, 168);
        }
#graph3 tbody::-webkit-scrollbar-track {/*滚动条里面轨道*/
        background: #EDEDED;
    }
/*滚动条整体样式*/
/*滚动条里面小方块*/
/*滚动条里面轨道*/
#graph3 tbody{
    display:block;
    height: 360px;
    overflow-y: scroll;
    text-align: center;
}
#graph3 thead tr{
    display:block;
}


#graph3 th:nth-child(1){
    width: 240px;
}
#graph3 th:nth-child(2){
    width:240px;
}
#graph3 th:nth-child(3){
    width: 160px;
}
#graph3 th:nth-child(4){
    width: 298px;
}


#graph3 td:nth-child(1){
    width: 240px;
}
#graph3 td:nth-child(2){
    width: 240px;
}

#graph3 td:nth-child(3){
    width: 160px;
}

#graph3 td:nth-child(4){
    width: 285px;
}






#record4{
    background-image:url(../../img/6-2-waikuagn5.png);
    width:960px;
    height: 438px;
    position: absolute;
    left: 23px;
    top:170px;
}

#record4_title{
    width: 100%;
    height: 60px;
    text-align: center;
    color: white;
    line-height: 60px
}

#graph4{
    width: 948px;
    color:white;
    text-align: center;
    margin-top:5px;
    margin-left:5px; 
}

#graph4 table,th,td{
    border: 2px solid rgb(11, 174, 231);
}
#graph4 th{
    height:52px;
}
#graph4 td{
    height:42px;
}
#graph4 button{
    border: 1px solid rgb(20,221,231);
    border-radius: 10px;
    background-color: rgba(29, 47, 60, 0.8);
    color:white;  
    width: 100px;
    cursor: pointer;  
}
#graph4 table{
    border-collapse:collapse;
    width: 100%
}

#graph4 tbody::-webkit-scrollbar {/*滚动条整体样式*/
    width: 13px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#graph4 tbody::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background-color: rgba(193, 193, 193);
    }
    #graph4 tbody::-webkit-scrollbar-thumb:hover {/*滚动条里面小方块*/
        background-color: rgba(168, 168, 168);
        }
#graph4 tbody::-webkit-scrollbar-track {/*滚动条里面轨道*/
        background: #EDEDED;
    }
/*滚动条整体样式*/
/*滚动条里面小方块*/
/*滚动条里面轨道*/
#graph4 tbody{
    display:block;
    height: 300px;
    overflow-y: scroll;
    text-align: center;
    width: 100%;

}
#graph4 thead tr{
    display:block;
}


#graph4 th:nth-child(1){
    width: 200px;
}
#graph4 th:nth-child(2){
    width: 145px;
}
#graph4 th:nth-child(3){
    width: 350px;
}
#graph4 th:nth-child(4){
    width: 241px;
}

#graph4 td:nth-child(1){
    width: 200px;
}
#graph4 td:nth-child(2){
    width: 145px;
}

#graph4 td:nth-child(3){
    width: 350px;
}

#graph4 td:nth-child(4){
    width: 228px;
}




#record5_left{
    background-image:url(../../img/8-2-kuang01.png) ;
    background-repeat: no-repeat;
    width:456px;
    height: 479px;
    position: relative;
    left: 23px;
    top:150px;
    padding-top: 4px;
}
#record5_left>div{
    margin: 23px auto; 
    display: flex;
    justify-content:  center ;
    color: white;
}    
#record5_left span{
    width:100px; 
    text-align: center;
}
#record5_left>div>div{
    height: 100px;
    width: 100px;
    border: 1px solid rgb(20,221,231);
    border-radius: 10px;
    background-color: rgba(29, 47, 60, 0.8);
}    
#record5_left>div:nth-child(1)>div{
    width: 140px; 
    height: 90px;
}  
#record5_left>div:nth-child(2)>div{
    width: 140px; 
    height: 33px;
}  
#record5_left>div:nth-child(3)>div{
    width: 140px; 
    height: 33px;
}  
#record5_left>div:nth-child(4)>div{
    width: 140px; 
    height: 33px;
}   
#record5_left>div:nth-child(5)>div{
    width: 140px; 
    height: 130px;
}        
      
#breakMessage{
    background-image:url(../../img/8-2-kuang01.png) ;
    width:456px;
    height:479px;
    position: absolute;
    left: 500px;
    top:150px;
    color: white;
}
#breakMessage>div{
    margin-left: 5px;
    background-color: rgba(11, 37, 54,0.6);
    width:443px;
    margin-top:4px ;
}    
#breakMessage input{
    border: 1px solid rgb(20,221,231);
    
    border-radius: 10px;
    background-color: rgba(29, 47, 60, 0.8);
}
#breakMessage>div:nth-child(1){
    height: 30px;
}
#breakMessage>div:nth-child(2){
    height: 35px;
    line-height: 35px;
}
#breakMessage>div:nth-child(2) div{
    height: 100%;
    width: 45%;
    display: inline-block;
}
#breakMessage>div:nth-child(3){
    height: 60px;
}
#breakMessage>div:nth-child(3)>div{
    height: 100%;
    width: 31%;
    display: inline-block;
    margin-top: 20px;
}
#breakMessage>div:nth-child(3)>div:nth-child(2){
    margin-left: 10px;
}
#breakMessage>div:nth-child(3)>div:nth-child(1) input{
  width: 130px;
  color: white;
}

#breakMessage>div:nth-child(3)>div:nth-child(3) input{
    width: 30px;
    color: white;
    text-align: center;
  }
#breakMessage>div:nth-child(3)>div:nth-child(2) select{
    width: 100%;
    background-color: rgb(60,93,108);
    color: white;
    border: 0px;
}   


#describe_crame{
    height: 70px;
    display: flex;
}
#describe_crame>button{
    width: 50px;
    height: 100%;
    margin-right: 30px;
    background-color: rgb(0, 147, 237);
    border: 0px;
    color:white;
    font-size: 17px;
}
#describe_crame>div{
    height: 100%;
    width: 90px;
    background-color: rgb(60,93,108);
    margin-right: 30px;
    cursor: pointer;
    
}


#describe_word{
    height: 95px;
    display: flex;
    flex-wrap: wrap;
    
}
#describe_word button{
    background-color: transparent;
    border: 0px;
    color:white;
    font-size: 17px;
}
#describe_word>div{
    height: 70px;
    width: 90px;
    background-color: rgb(60,93,108);
    margin-right: 30px;
    cursor: pointer;
}
#describe_word>div:nth-child(1){
    width: 50px;
    background-color: rgb(0, 147, 237);
    text-align: center;     
    line-height: 35px; 
}
#describe_word>div:nth-child(1) span{
    margin-top: 20px;
    text-align: center;      
}

#word_kuang{
    width: 470px !important;
    height: 30px !important;
    background-color: transparent !important;
    margin-right: 0px !important;
}
#word_kuang input{
    border: 0px ;
    border-radius: 0px;   
    width: 405px; 
}
#word_kuang button{
    border: 1px solid rgb(20,221,231);
    border-radius: 10px;    
    font-size: 14px;
    padding: 3px;
    float: right;
    cursor: pointer;
}





#describe_voice{
    height: 95px;
    display: flex;
    flex-wrap: wrap;
    
}
#describe_voice button{
    background-color: transparent;
    border: 0px;
    color:white;
    font-size: 17px;
    cursor: pointer;
}
#describe_voice>div{
    height: 70px;
    width: 90px;
    background-color: rgb(60,93,108);
    margin-right: 30px;
    cursor: pointer;
}
#describe_voice>div:nth-child(1){
    width: 50px;
    background-color: rgb(0, 147, 237);
    text-align: center;      
    line-height: 35px; 
    
}
#describe_voice>div:nth-child(1) span{
    margin-top: 20px;
    text-align: center;      
}

#voice_kuang{
    width: 470px !important;
    height: 30px !important;
    background-color: transparent !important;
    margin-right: 0px !important;
}
#voice_kuang input{
    border: 0px ;
    border-radius: 0px;   
    width: 350px; 
}
#voice_kuang button{
    border: 1px solid rgb(20,221,231);
    border-radius: 10px;    
    font-size: 14px;
    padding: 3px;
    float: right;
}
#describe_solution{
    width: 100%;
    height: 30px;
}
#describe_solution div:nth-child(1){
    width: 50px;
    font-size: 16px;    
    background-color: rgb(0, 147, 237);
    text-align: center;      
    line-height: 15px; 
}    


#breakMessage>button{
    margin-left: 44%;
    background-color: rgb(0, 147, 237);
    padding: 2px;
    border: 1px solid rgb(193,193,193);
    border-radius: 10px;    
    font-size: 14px;
    color: white;
    cursor: pointer;
}





#record2,#record3,#record4,#record5{
    display: none;
}