*{
    margin: 0px;
    padding: 0;
    outline:none
    
}
body{
    position: relative;
    background-color: rgb(240, 240, 240) !important;

}
button:active{
    transform: translateY(1px);
}
button:hover{
    cursor: pointer;
}


#kuang2{
    background-color: rgba(255, 255, 255,0.7);
    box-shadow: 1px 3px 1px 1px rgba(0, 0, 0,0.1);
    position: absolute;
    left: 120px;
    top: 43px;
    width: 795px;
    min-height: 150px;
    max-height: 380px;
    overflow-y: scroll;
    /* color: white; */
    text-align: center;
    line-height: 29px;
}

#now_map{
    width: 100px;   
    height: 30px;
    position: absolute;
    left:452px;
    top:5px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: white;
}


#youce{
    position: absolute;
    top: 8px;
    right: 0px;
    background-color: rgb(250, 250, 250);
    width: 68px;
    height: 628px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 0px; 
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0,0.1);

}
#youce>div{
    padding: 6px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

}
#youce::-webkit-scrollbar {
    width: 7px;   
}  
#youce::-webkit-scrollbar-thumb {
    background: rgb(192, 192, 192);
    }
#youce::-webkit-scrollbar-track {
    background-color: rgb(241, 241, 241);
    }

#youce>div>div{
    width: 80%;
    font-size: 21px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0,0.1);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    text-align: center;
    padding: 10px 8px 10px 8px;
    margin-bottom: 5px;
    cursor: pointer;
}
#youce>div>div:active{
    transform: translateY(1px)
}

#kuang2::-webkit-scrollbar {
    width: 0px;  
}

#map{
    /* margin-left: 10px; */
    /* margin-top: 10px; */
    position: relative;
    left: -9px;
    top: 3px;
}
#map td{
    width: 110px;
    height: 29px;
    border:1px solid rgb(204, 204, 204);
    border-radius: 10px ;
    margin-left: 38px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255,1);
}

#map td>div>span{
    position: relative;
    display: inline-block;
    width: 110px;
    height: 30px;
    overflow-x:hidden;
    overflow-y:hidden;
}
#map td>div>span::-webkit-scrollbar {
    display: none;
}
.check{
    background-color: rgba(237, 237, 237 ,1) !important
}
.spot_time{
    position: absolute !important;
    top: 25px;
    left: 0px;
}
.jiantou{
    position: relative;
    left: 74px;
    top: -41px;
    width: 40%;
}



#kuang3{
    background-color: rgba(229 ,229,229,0.9);
    border: 1px solid rgb(204, 204, 204);
    display: none;
    position: absolute;
    left: 220px;
    top:100px;
    width: 600px;
    height: 400px;
    overflow: hidden;
}


#spot_name{
    width: 148px;
    height: 28px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#spot_desc{
    width: 148px;
    height: 28px;
    text-align: center;
    display: inline-block
}
#kuang3_items{
    overflow-y: auto;
    width: 100%;
    height: 342px;
}
#kuang3_items::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#kuang3_items::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background-color: rgba(193, 193, 193);
    background-repeat: no-repeat;
    }
#kuang3_items::-webkit-scrollbar-track {/*滚动条里面轨道*/
    background: #EDEDED;
}



.creat_new_item div:nth-child(3){
    display: inline-block;
    position: relative;
    top:25px;
    left: 45px;
}
.creat_new_item div:nth-child(4){
    display: inline-block;
    position: relative;
    top:23px;
    background-color: #eee;    
    left: 72px;
    width: 64px;
    height: 20px;
    text-align: center;
    line-height: 20px
}
.creat_new_item input{
    text-align: center;
    height: 25px;
    border: 1px solid #ccc;
    background-color: #eee;
}
.creat_new_item{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    padding: 10px ;
}

#kuang3 select{
    background-color:#eee;    
    border: 1px solid #ccc;

}
#spot_guding select{
    width:40px;
    height: 25px;
}
.pop-close{
    position: absolute;
    right: 6px;
    top: 2px;
    zoom: 0.8;
    color: white;
    cursor: pointer;
    background-image: url(../../img/xx.png);
    width: 48px;
    height: 48px;
    z-index: 200;
}






    
#record1{
    position: absolute;
    left: 113px;
    top:430px;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0,0.1);

}

#graph1{
    width: 800px;
    text-align: center;
    margin-top:5px;
    margin-left:5px; 
}

#graph1 th{
    height:40px;
    padding: 0px;
    line-height: 40px;
    text-align: center;
}
#graph1 td{
    height:36px;
    line-height: 36px;
    padding: 0px;
}

#graph1 button{
    transform: translateX(1px)
}
#graph1 table{
    border-collapse:collapse;
    width: 100%;
    margin-bottom: 0px;
     
}
#graph1_table2_box{
    max-height: 149px;
    overflow-y: scroll;
    /* border-bottom: 1px solid rgb(20,221,231); */
}

#graph1_table2_box::-webkit-scrollbar {/*滚动条整体样式*/
    width: 11px;
    height: 2px;
}
#graph1_table2_box::-webkit-scrollbar-thumb {
    background: rgba(192, 192, 192, 1);
    background-repeat: no-repeat;
    }
#graph1_table2_box::-webkit-scrollbar-track {/*滚动条里面轨道*/
    background: rgba(240, 240, 240,1);
}

/* #graph1 tbody{
    text-align: center;
} */


#graph1 th:nth-child(1){
    width: 211px;
}
#graph1 th:nth-child(2){
    width: 211px;
}
#graph1 th:nth-child(3){
    width: 158px;
}
#graph1 th:nth-child(4){
    width: 109px;
}
#graph1 th:nth-child(5){
    width: 109px;
}

#graph1 td:nth-child(1){
    width: 211px;
}
#graph1 td:nth-child(2){
    width: 211px;
}
#graph1 td:nth-child(3){
    width: 158px;
}
#graph1 td:nth-child(4){
    width: 109px;
}
#graph1 td:nth-child(5){
    width: 98px;
}

