*{
    margin: 0px;
    padding: 0;
    
}
body{
    position: relative;
    font-family:"宋体"
}
button:active{
    transform: translateY(2px);
}
button:hover{
    cursor: pointer;
}




#kuang2{
    border: 2px solid rgb(20, 221, 231) ;
    border-right: 0px;
    border-radius: 15px 0px 0px 15px;
    background-color: rgba(26,38,45,0.8) ;
    position: absolute;
    left: 70px;
    top: 100px;
    width: 795px;
    min-height:150px;
    max-height: 325px;
    overflow-y: scroll	;
    color: white;
    text-align: center;
    line-height: 29px;
}


#youce{
    position: absolute;
    top: 8px;
    right: -3px;
    width: 68px;
    height: 628px;
    background-image: url(../../img/5-2-waikuang.png)
    
}
#youce>div:active{
    transform: translateY(2px)
}    
#youce>div{
    width: 26px;
    font-size: 23px;
    writing-mode: vertical-lr;
    border: 2px solid rgb(53, 195, 225);
    text-align: center;
    padding: 10px 8px 10px 8px;

    position: relative;
    left: 13px;
    top:20px;
    color: white;   
    margin-bottom: 5px;
    cursor: pointer;
}





#kuang2::-webkit-scrollbar {/*滚动条整体样式*/
    width: 13px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 2px;
}
#kuang2::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background-color: rgba(193, 193, 193);
    background-repeat: no-repeat;
    }
#kuang2::-webkit-scrollbar-track {/*滚动条里面轨道*/
        background: #EDEDED;
    }
#map{
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    left: -17px;
}
#map td{
    width: 110px;
    height: 29px;
    
    border:2px solid rgb(42, 181, 210);
    border-radius: 10px ;
    margin-left: 38px;
    margin-bottom: 30px;
    background-color: rgba(30, 45, 55 ,1)
}
#map td{
    width: 110px;
    height: 29px;
    
    border:2px solid rgb(42, 181, 210);
    border-radius: 10px ;
    margin-left: 38px;
    margin-bottom: 30px;
    background-color: rgba(30, 45, 55 ,1)
}


#map td>div>span{
    position: relative;
    display: inline-block;
    width: 110px;
    height: 30px;
    overflow-x:hidden;
}
#map td>div>span::-webkit-scrollbar {
    display: none;
}
.check{
    background-color: rgba(62, 66, 68, 0.80);
}

.jiantou{
    position: relative;
    left: 76px;
    top: -35px;
    width: 40%;
}



#kuang3{
    background-color: rgb(26,38,45);
    border: 2px solid rgb(20, 221, 231);
    display: none;
    position: absolute;
    left: 164px;
    top:100px;
    width: 600px;
    height: 400px;
    z-index: 100;
}


#spot_name{
    background-image: url(../../img/1_Neirongkuang03_01.png);
    width: 148px;
    height: 28px;
    background-color: transparent;
    border: 0px;
    color:white;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#spot_desc{
    background-image: url(../../img/1_Neirongkuang03_01.png);
    width: 148px;
    height: 28px;
    background-color: transparent;
    border: 0px;
    color:white;
    text-align: center;
    display: inline-block
}
#kuang3_items{
    overflow-y: scroll;
    width: 100%;
}
/* #kuang3_items::-webkit-scrollbar {
    display:none
}     */
#kuang3_items::-webkit-scrollbar {/*滚动条整体样式*/
    width: 13px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#kuang3_items::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background-color: rgba(193, 193, 193);
    background-repeat: no-repeat;
    }
#kuang3_items::-webkit-scrollbar-track {/*滚动条里面轨道*/
        background: #EDEDED;
    }


#kuang3_items{
    width: 100%;
    height: 342px;
}


.creat_new_item div:nth-child(3){
    display: inline-block;
    color: white;
    position: relative;
    top:20px;
    left: 45px;
}
.creat_new_item div:nth-child(4){
    display: inline-block;
    color: white;
    position: relative;
    top:18px;
    background-color: rgb(60,93,108);    
    left: 72px;
    width: 64px;
    height: 20px;
    text-align: center;
    line-height: 20px
}
.creat_new_item input{
    border: 1px solid rgb(20, 221, 231);
    background-color: rgb(26,38,45);
    text-align: center;
    border-radius: 10px;
    color: white;
}
.creat_new_item{
    height: 60px;
    border: 1px solid rgb(168, 234, 237);
    border-radius: 5px;
    padding: 10px ;
}

#kuang3 select{
    color: white;
    background-position: 50px 3px;
    background-color: rgb(60,93,108);    
    
}
#spot_guding select{
    width:40px;
    height: 25px;
}
.pop-close{
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.bgPop{   
    display: none;
    overflow: hidden;
    z-index: 129; 
    width: 1000px;
    height: 630px; 
    background: rgba(0,0,0,.3);  
    }
