*{
    margin: 0;
    padding: 0;
    font-family: "宋体";
    font-size: 20px;
    outline:none
    
}
input::-webkit-input-placeholder { /* WebKit browsers */
    font-size:14px;
    color: rgba(215, 215, 215,0.5);
}
button:active{
    transform: translateY(2px);
}
body{
    position: relative;
}

#search{
    background-image: url(../../img/7-1-kuang.png);
    width: 961px;
    height: 158px;
    position: absolute;
    left: 20px;
    color:white;
}
#search div{
    display: inline-block;
}

#search input{
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 10px;
    color: white;
    text-align: center;
}

#time{
    position: relative;
    left: 14px;
    top: -54px;
    width: 330px;
    height:45px;
}

#equ{
    position: relative;
    left: -326px;
    top: 30px;
    width: 330px;
    height:45px;
    
}

#map{
    position: relative;
    left: -328px;
    top: 12px;
    width: 155px;
    height:130px;
}
#map ul{
    width: 130px;
    height:90px;
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 20px;
    list-style: none;
    text-align: center;
}
#map li{
    margin-top:5px;
}
#map a{
    cursor: pointer;
}

#map a:hover{
    color:rgba(238, 180, 34, 0.5)    
}
#map a:active{
    transform: translateY(2px);
}

#man{
    position: relative;
    left: 514px;
    top: -118px;
    width: 220px;
    height:45px;
    
}

#count{
    position: relative;
    left: 499px;
    top: -118px;
    width: 210px;
    height:45px;   
}

#record2{
    display: none;
}

#record2{
    background-image:url(../../img/6-2-waikuagn5.png);
    width:953px;
    height: 438px;
    position: absolute;
    left: 23px;
    top:170px;
}
#record2>div{
    border-bottom: 1px solid rgb(11, 174, 231);
    width: 947px;
    margin-left:5px; 
}

#record2_title{
    height: 50px;
}

#record2_title div{
    display: inline-block;
    width: 15%;
    height: 25px;
    border: 1px solid rgb(20,221,231);
    border-radius: 10px;
    background-color: rgba(29, 47, 60, 0.8);
    margin-left: 20%;
    margin-top: 17px;
    text-align: center;
    color: white;
}

#record2_title button{
    border: 0px;
    background-color: transparent;
    background-image: url(../../img/10-2-ziti_shengchengxunjianbaogao_kuagn.png);
    background-repeat: no-repeat;
    color:white;  
    margin-left: 30%;
    margin-top: 5px;
    width: 154px;;
    height: 34px;    
    cursor: pointer;  
}
#record2_state{
    height: 38px;
}    

#record2_state>div{
    display: inline-block;
    width:19%;
    height: 100%;
    overflow:hidden;
    border-right: 1px solid rgb(20,221,231);
    
}
#record2_state>div span{
    float:left;
    display: block;
    width: 120px;
    height: 100%;
    color: white;
    line-height: 38px; 
    padding-right: 5px;
}   

#record2_state>div div{
    border-left: 1px solid rgb(20,221,231);
    border-top: 1px solid rgb(20,221,231);
    border-bottom: 2px solid rgb(20,221,231);
    
    background-color: rgba(29, 47, 60, 0.8);
}
#record2_state>div:nth-child(1) span{
    width: 80px;
    padding-left: 5px;
    
}   
#record2_state>div:nth-child(1) div{
    margin-left: 90px;
    width:100%;
    height: 99%;
}  
#record2_state>div:nth-child(2) span{
    width: 80px;
}   
#record2_state>div:nth-child(2) div{
    margin-left: 80px;
    width:100%;
    height: 99%;
} 
#record2_state>div:nth-child(3) span{
    width: 60px;
}   
#record2_state>div:nth-child(3) div{
    margin-left: 60px;
    width:100%;
    height: 99%;
}  
#record2_state>div:nth-child(4) span{
    width: 80px;
}   
#record2_state>div:nth-child(4) div{
    margin-left: 80px;
    width:100%;
    height: 99%;
}  
#record2_state>div:nth-child(5) span{
    width: 110px;
}   
#record2_state>div:nth-child(5) div{
    margin-left: 110px;
    width:100%;
    height: 99%;
}  

#record2_map{
    height: 165px;
}
#record2_map div{
    height: 100%;
    float: left;
    color: white;
}
#record2_map div:nth-child(1){
    width: 90px;
    border-right: 1px solid rgb(20,221,231);   
    margin: 0 auto;  
    text-align: center;
    line-height: 165px
}
#record2_map div:nth-child(2){
    width: 30px;
    border-right: 1px solid rgb(20,221,231);   
    text-align:center;    
    line-height: 30px;
    writing-mode: vertical-rl;
}    
#record2_map div:nth-child(3){
    width: 822px;
    height: 100%;   
}    



#graph2{
    height: 168px;
    color: white;
    text-align: center;
}

#graph2 table,th,td{
    border: 2px solid rgb(11, 174, 231);
}

#graph2 td{
    height: 60px;
}

#graph2 table{
    border-collapse:collapse;
    width: 100%
}

#graph2 th:nth-child(1){
    width: 89px;
    height: 40px;
}
#graph2 td:nth-child(1){
    width: 89px;
    height: 40px;
}
#graph2 th:nth-child(2){
    width: 120px;
}
#graph2 td:nth-child(2){
    width: 120px;
}
#graph2 th:nth-child(3){
    width: 100px;
}
#graph2 td:nth-child(3){
    width: 100px;
}
#graph2 th:nth-child(4){
    width: 100px;
}
#graph2 td:nth-child(4){
    width: 100px;
}
#graph2 th:nth-child(5){
    width: 530px;
}
#graph2 td:nth-child(5){
    width: 515px;
}
#graph2 tbody{
    display:block;
    height: 128px;
    overflow-y: scroll;
    text-align: center;
}
#graph2 thead tr{
    display:block;
}


#graph2 tbody::-webkit-scrollbar {/*滚动条整体样式*/
    width: 13px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#graph2 tbody::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    background-color: #F90;
background-image: url(../../img/6-2-huadongkuai.png)
    }
#graph2 tbody::-webkit-scrollbar-track {/*滚动条里面轨道*/
        border-radius: 10px;
        background: #EDEDED;
    }


#record2{
    display: block;
}