*{
    margin: 0px;
    padding: 0px;
    outline:none
}

body{
    width: 100px;
    height: 657px;
    background-color: rgb(240, 240, 240) !important;
    position: relative;
    /* font-family:"宋体"; */
}
#kuang1{
    /* background-image: url(../../img/1_Neirongkuang01.png); */
    /* background-repeat: no-repeat; */
    background-color: rgba(255, 255, 255,0.7);
    position: absolute;
    left: 65px;
    top: 13px;
    width: 794px;
    height: 147px;
}

#kuang1>div{
    float: left;
    position: relative;
}
#kuang1_input{
    width: 79%;
    height: 100%;
}


#kuang1_btn{
    width: 20%;
    height: 100%
}



#map_name{
    display: inline-block;
    width: 250px;
    height: 30px;
    position: absolute;
    top: 7px;
    left: 10px;
    /* color:white; */
    font-size: 20px;
}

#map_name_option{
    display: inline-block;
    width: 145px;
    height: 30px;
}

#map_num{
    display: inline-block;
    width: 220px;
    height: 29px;
    position: absolute;
    left: 240px;
    top:7px;
    /* background-color: transparent; */
    border: 0px;
    /* color:white; */
    /* background-repeat: no-repeat; */
    font-size: 20px;
}
#map_num input{
    /* border: 1px solid rgb(20, 221, 231); */
    /* background-color: rgba(26,38,45,0.2); */
    /* border-radius: 10px; */
    display: inline-block;
    /* color: white; */
    width: 98px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    /* overflow: hidden; */
    text-align: center;
}

#map_path{
    width: 150px;
    height: 175px;
    position: absolute;
    left: 476px;;
    top: 9px;
}
#map_path p{
    /* color: white; */
    margin: 0px;
    font-size: 20px;
    text-align: center;
}
#map_path_select{
    text-align: center;
    margin: 0px auto;
    position: relative;
    top: 5px;
    left: 0px;
    width:116px;
    height: 32px;
}
#map_path_option{
    list-style: none;
    position: relative;
    width: 116px;
    top: 4px;
    left: 16px;
    overflow: hidden;
    transition: height 0.2s;
    z-index: 200;
    background-color: rgba(26,38,45,0.8);
    border-radius: 15px ;
    overflow: hidden;
    height: 0px;
}
#map_path_option li{
    width:116px;
    height: 28px;
    cursor: default;
    /* color: white; */
    font-size: 18px;
    text-align: center;
    line-height: 28px;
}
#map_path_option li:hover{
    background-color: rgba(20, 221, 231,0.4);
}

.looking{
    background-color: rgba(20, 221, 231,0.6);
}

#map_desc{
    position: absolute;
    left: 10px;
    top: 80px;
    width: 450px;
    height: 60px;
    /* color: white; */
}
#map_desc span{
    font-size: 20px;
    cursor: default;
    margin-right: 10px;
    position: relative;
    top:-20px;
}
#map_desc textarea{
    display: inline-block;
    width: 344px ;
    height: 55px ;
    /* border: 1px solid rgb(20, 221, 231) ; */
    /* border-radius: 15px; */
    /* background-color: rgba(26,38,45,0.2) ; */
    text-align: left;
    align-items:flex-start;
    overflow: hidden;
    /* color: white; */
    font-size: 18px;
}
#path_name{
    position: absolute;
    left: 10px;
    top: 45px;
    width: 250px;
    height: 30px;
    /* color: white; */
}
#path_name span{
    font-size: 20px;
    line-height: 30px;
    cursor: default;
    margin-right: 6px;
}
#path_name input{
    /* border: 1px solid rgb(20, 221, 231); */
    /* background-color: rgba(26,38,45,0.2); */
    /* border-radius: 10px; */
    /* color: white;     */
    display: inline-block;
    width: 145px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;    
    /* overflow: hidden; */
}

#map_time{
    position: absolute;
    left: 240px;
    top:43px;
    width: 250px;
    height: 35px;
    /* color: white; */
}
#map_time span{
    font-size: 20px;
    cursor: default;
    margin-right: 4px;
}
#map_time input{
    display: inline-block;
    /* border: 1px solid rgb(20, 221, 231); */
    /* background-color: rgba(26,38,45,0.2); */
    /* border-radius: 10px; */
    /* color: white;     */
    /* display: inline-block; */
    width: 120px;
    height: 30px;
    font-size: 20px;
    line-height: 30px; 
    text-align: center;
    
}
#map_drawup{
    position: absolute;
    left: 493px;
    top: 76px;
    width: 122px;
    height: 35px;
    text-align: center;
    font-size: 20px;
}
#map_drawup p{
    margin: 0;
}
#map_drawup input{
    /* display: inline-block; */
    /* border: 1px solid rgb(20, 221, 231); */
    /* background-color: rgba(26,38,45,0.2); */
    /* border-radius: 10px; */
    /* color: white; */
    width: 116px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

#kuang1_btn button{
    display: block;
    width: 147px;
    height: 37px;
    /* background-repeat: no-repeat; */
    /* background-color:transparent; */
    border: 0px;
    cursor: pointer;
    margin: 20px 0;
    
}
#kuang1_btn button:active{
    transform: translateY(2px);
}

#kuang1_btn button:nth-child(1){
    /* background-image:url(../../img/1_Neirongkuang_dianji03.png); */
    position: relative;
    top:17px;
}
#kuang1 button:nth-child(2){
    /* background-image: url(../../img/1_Neirongkuang_dianji03.png); */
    position: relative;
    top:19px;
}





#kuang2{
    /* border: 2px solid rgb(20, 221, 231) ; */
    /* border-radius: 15px; */
    /* background-color: rgba(26,38,45,0.2) ; */
    background-color: rgba(255, 255, 255,0.7);
    position: absolute;
    left: 65px;
    top: 195px;
    width: 795px;
    min-height:150px;
    max-height: 388px;
    overflow: auto	;
    /* color: white; */
    text-align: center;
    line-height: 29px;
}
#kuang2::-webkit-scrollbar {/*滚动条整体样式*/
    width: 0px;     /*高宽分别对应横竖滚动条的尺寸*/
}
#kuang2::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background-color: rgba(193, 193, 193, 0);
    background-repeat: no-repeat;
    }
#kuang2::-webkit-scrollbar-track {/*滚动条里面轨道*/
        background: #EDEDED;
    }
#map{
    margin-top:10px;
}
#map td{
    width: 110px;
    height: 29px;
    border:1px solid rgb(204, 204, 204);
    border-radius: 10px ;
    margin-left: 38px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255,1);
}
.checked{
    background-color: rgba(237, 237, 237 ,1) !important
}

#map td>div>span{
    position: relative;
    display: inline-block;
    width: 110px;
    height: 30px;
    overflow-x:hidden;
    overflow-y:hidden;
}
#map td>div>span::-webkit-scrollbar {
    display: none;
}


.jiantou{
    position: relative;
    left: 74px;
    top: -41px;
    width: 40%;
}


#kuang3{
    background-color: rgba(229 ,229,229,0.9);
    border: 1px solid rgb(204, 204, 204);
    display: none;
    position: relative;
    left: 220px;
    top:100px;
    width: 600px;
    height: 400px;
}
/* #kuang3 label{
    color: gray;
} */

#spot_name{
    display: inline-block;
    width: 148px;
    height: 25px;
    /* background-color: rgba(26,38,45,2); */
    /* border: 1px solid rgb(20, 221, 231) !important; */
    /* border-radius: 10px; */
    /* color:white; */
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    /* border: 1px; */
    margin-top: 10px;
}
#spot_desc{
    display: inline-block;
    width: 148px;
    height: 25px;
    /* background-color: rgb(26,38,45,0.2); */
    /* border: 1px solid rgb(20, 221, 231); */
    /* border-radius: 10px; */
    /* color:white; */
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}
#kuang3_items{
    overflow-y: auto;
    width: 100%;
    height: 260px;
    overflow-x: hidden;
}

#kuang3_items::-webkit-scrollbar {/*滚动条整体样式*/
    width: 13px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#kuang3_items::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background-color: rgba(193, 193, 193);
    background-repeat: no-repeat;
    }
#kuang3_items::-webkit-scrollbar-track {/*滚动条里面轨道*/
        background: #EDEDED;
    }
#kuang3_del{
    position: absolute;
    left: 390px;
    bottom:5px;
}
#kuang3_add{
    position: absolute;
    left: 90px;
    bottom:5px;
}

#spot_test{
    width: 250px;
    /* height: 175px; */
    position: absolute;
    left: 0px;;
    top: 48px;
    display: flex;
    align-items:center;
}
#spot_test>span{
    /* display: inline-block; */
    color: gray;
    font-size: 17px;
}
#spot_test_select{
    text-align: center;
    width:120px;
    height: 25px;
    line-height: 25px;
    padding: 1px;
 
}
/* #spot_test_option{
    list-style: none;
    position: absolute;
    width: 116px;
    top: 26px;
    left: 78px;
    overflow: hidden;
    transition: height 0.2s;
    z-index: 200;
    background-color: rgba(26,38,45,0.8);
    border-radius: 15px ;
    overflow: hidden;
    height: 0px;
}
#spot_test_option li{
    width:116px;
    height: 28px;
    cursor: default;
    font-size: 18px;
    text-align: center;
    line-height: 28px;
}
#spot_test_option li span{
    color:white;
}
#spot_test_option li:hover{
    background-color: rgba(20, 221, 231,0.4);
} */





.new_item button{
    margin:10px 0px  10px 238px;

}
#new_item_del{
    /* position: relative;
    top: -3px;
    left: -44px; */
}
.creat_new_item input{
    text-align: center;
    height: 25px;
}

.creat_new_item{
    display: flex;
    justify-content:center;
    align-items:center;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    padding: 5px ;
    width: 579px;
}

#kuang3_select{
    display: inline-block;
    /* position: relative; 
    left: -50px; */
}
#kuang3_items_from{
}
#kuang3_items_opera{
    /* position: relative;
    top: 47px;
    left: 63px; */
    /* width: 200px; */
}
#kuang3_items_from>div{
    display:inline-block;
    text-align: -webkit-center;
}
#kuang3_items_from label{
    color: white;
    display: block; 
    width: 100px;
    margin-bottom:0px;
    color: gray;
    font-size: 14px;
}



.pop-close{
    position: absolute;
    right: 10px;
    top: 1px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-image: url(../../img/xx.png);
    width: 48px;
    height: 48px;
    z-index: 200;
}
.bgPop{   
    display: none;
    z-index: 129; 
    width: 1000px;
    height: 630px; 
    background: rgba(0,0,0,.3);  
}


.bottom_btn{
    display: inline-block !important;
    position: absolute;
    background-color: transparent;
    width: 99px;
    height: 37px;
    /* background-image: url(../../img/1_Neirongkuang03_02.png); */
    /* background-repeat: no-repeat; */
    /* border: 0px; */
}
    


#tijiao{
    bottom: 4px;
    right: -115px;
}
#qingkong{
    bottom: 4px;
    right: -245px;
}
#export_imp{
    bottom: 4px;
    right: -370px;
}
#import_imp{
    bottom: 4px;
    right: -495px;
}
#download_imp{
    bottom: 4px;
    right: -620px;
}

.template_drop{
    height: 0px;
    position: absolute;
    overflow: hidden;
    z-index: 200;
    transition: height 0.1s;
    bottom: 37px;
}
#exp_template{
    left: 494px;
}
#imp_template{
    left: 369px;
}
.template_drop ul{
    width: 100px;
    border: 1px solid rgb(20,221,231);
    background-color: rgb(26,38,45);
    border-radius: 15px;
    overflow: hidden;
}
.template_drop li{
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    width: 100% ;
    margin-bottom: 2px;
    margin-top: 0px;
}
.template_drop li:last-child{
    margin-bottom: 0px;
}
.template_drop button{
    height: 100% ;
    width: 100% ;
    margin: 0;
    background-color: rgba(26,38,45,0.8);
    border:0px;
    border-radius: 0px;
}
.template_drop button:hover{
    background-color: rgba(20,221,231,0.3)
}    


#luxianku{
    /* background-image: url(../../img/Youce.png); */
    background-color: rgba(255, 255, 255,0.7);
    overflow: hidden;
    position: absolute;
    right: -1020px;
    top: 13px;
    width: 192px;
    height: 620px;
}
#luxianku_box{
    width: 100%;
    max-height: 583px;
    /* margin-top: 42px; */
    overflow-y: auto;
    overflow-x: hidden;
}
/* #luxianku_box::-webkit-scrollbar {
    width: 8px;    
}
#luxianku_box::-webkit-scrollbar-thumb {
    background-color: rgba(20, 221, 231,0.6);
    background-repeat: no-repeat;
}
#luxianku_box::-webkit-scrollbar-track {
    background: #E0D1D1;
} */

.luxian_type>div{
    height: 0px;
    overflow: hidden;
    transition: height 0.2s;
}
.luxian_type>div:nth-child(2){
    padding-left: 5px;
}
/* #luxianku ul::-webkit-scrollbar {
    width: 5px;    
}
#luxianku ul::-webkit-scrollbar-thumb {
    background-color: rgba(193, 193, 193);
    background-repeat: no-repeat;
}
#luxianku ul::-webkit-scrollbar-track {
    background: #E0D1D1;
} */
#luxianku li{
    /* width: 150px; */
    height: 30px;
    list-style: none;
}

#luxianku ul li>span{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
}

#luxianku ul li>button{
    float: right;
    width: 35px;
    height: 20px;
    padding: 0;
    margin-top: 5px;
}

#luxianku li:hover{
    background-color: rgba(61 , 117, 181, 0.5)
}
.luxian_type{
    margin-bottom: 10px;
}
.luxian_type .title{
    height: 25px;
    /* border: 1px solid rgb(20, 221, 231); */
    /* color:white; */
    font-size: 20px;  
    cursor: default;
    overflow: hidden;
}

.path_search{
    height: 25px !important;
    width: 90% !important;
    margin-top: 5px;
}

.creat_new_type textarea{
    display: inline-block;
    width: 100%;
    height: 100% !important;
    background-color: rgba(61 , 117, 181, 0.5);
    padding: 0 !important;
    color: white;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
}






#kuang4{
    display: none;
}
#kuang5{
    display: none;
}


#kuang4{
    background-image: url(../../img/5-1-kuang.png);
    position: absolute;
    left: 0px;
    top: 120px;
    width: 806px;
    height: 278px;    
}
#kuang5{
    background-image: url(../../img/2-Neirongkuang01.png);
    position: absolute;
    left: 5px;
    top: 500px;
    width: 800px;
    height: 60px;    
    color: white;
    font-size: 20px;
}
#kuang5 div,button{
    display: inline-block;
    position: relative;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    font-family: "宋体"
}
#kuang5 span:nth-child(1){
    position: absolute;
    left: 15px;
    top: 17px;
}
#kuang5 div:nth-child(2){
    position: absolute;
    left:100px;
    top:10px;
    width:119px;
    height:33px;
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
}
#kuang5 span:nth-child(3){
    position: absolute;
    left: 237px;
    top: 16px;
}
#kuang5 div:nth-child(4){
    position: absolute;
    left: 360px;
    top: 10px;
    width:45px;
    height:30px;
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    
}
#kuang5 span:nth-child(5){
    position: absolute;
    left:430px;
    top:15px;
}
#kuang5 div:nth-child(6){
    position: absolute;
    left: 491px;
    top: 10px;
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    width:82px;
    height:30px;
}#kuang5 button:nth-child(7){
    position: absolute;
    left: 600px;
    top: 13px;
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    width:116px;
    height:30px;
}#kuang5 button:nth-child(8){
    position: absolute;
    left: 723px;
    top: 13px;
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    width:60px;
    height:30px;
}
button:active{
    transform: translateY(1px);
}
button:hover{
    cursor: pointer;
}
#fanhui{
    position: absolute;
    left: 730px;
    top: 13px;
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    width:60px;
    height:30px;
    display: block;
}
#fanhui{
    display: none;
}




.pop-close2{
    position: relative;
    left: 900px;
    top: -375px;
    cursor: pointer;
    background-image: url(../../img/xx.png);
    width: 48px;
    height: 48px;
    z-index: 200;
}
.no_pass {
    color: red;
}
.value_left {
    width: 40%;
    height: 100%;
    display: inline-block;
    line-height: 42px;
}
.value_right {
    width: 58%;
    height: 100%;
    display: inline-block;
    border-left: 1px solid rgb(0, 174, 231);
    line-height: 42px;
}
#record2{
    display: none;
}
#record2{
    background-image:url(../../img/6-2-waikuagn5.png);
    width:953px;
    height: 438px;
    position: absolute;
    left: 23px;
    top:170px;
    background-color: rgb(33,51,62);

}
#record2>div{
    width: 947px;
    margin-left:5px; 
}

#record2>button:nth-child(3){
    position: absolute;
    bottom: 17px;
    left: 438px;
    border: 1px solid rgb(20,221,231);
    border-radius: 15px;
    color: white;
    background-color: rgba(11, 37, 54,0.6);
    cursor: pointer;
    height: 30px;
    width: 70px;
}

#record2_title{
    height: 50px;
}

#record2_title div{
    display: inline-block;
    width: 15%;
    height: 25px;
    border: 1px solid rgb(20,221,231);
    border-radius: 10px;
    background-color: rgba(29, 47, 60, 0.8);
    margin-left: 20%;
    margin-top: 17px;
    text-align: center;
    color: white;
}

#record2_title button{
    border: 0px;
    background-color: transparent;
    background-image: url(../../img/10-2-ziti_shengchengxunjianbaogao_kuagn.png);
    background-repeat: no-repeat;
    color:white;  
    margin-left: 30%;
    margin-top: 5px;
    width: 154px;;
    height: 34px;    
    cursor: pointer;  
}


#graph2 table,#graph2 td{
    border-width: 1px !important;
    border: 1px solid rgb(11, 174, 231);
}
#graph2 table{
    width: 100%;
    margin-bottom: 20px;
}

#graph2 tbody{
    display:block;
    text-align: center;
    /*ie下三角箭头的颜色*/
    scrollbar-arrow-color: rgba(20,221,231,0.3);
    /*滚动条滑块按钮的颜色*/
    scrollbar-face-color: rgb(193, 193, 193);
    /*滚动条整体颜色*/
    scrollbar-highlight-color: #EDEDED;
    /*滚动条阴影*/
    /* scrollbar-shadow-color: transparent; */
    /*滚动条轨道颜色*/
    scrollbar-track-color: #EDEDED;
}
#graph2 thead tr{
    display:block;
}

#graph2{
    width: 948px;
    margin-top: 5px;
    margin-left: 5px;
    height: 330px;
    overflow-y: scroll;
    border-bottom: 2px solid rgb(0, 147, 237);
    border-top: 2px solid rgb(0, 147, 237);
    
}
#graph2::-webkit-scrollbar {/*滚动条整体样式*/
    width: 12px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#graph2::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background-color: rgba(193, 193, 193);
    background-repeat: no-repeat;
    }
#graph2::-webkit-scrollbar-track {/*滚动条里面轨道*/
        background: rgb(43, 68, 80)
    }
#graph2 thead tr{
    display:block;
}

#graph2 table{
    width:100%;
    color: white;
    border-collapse:collapse;
    
}

#graph2 td:nth-child(1){
    width: 374px;
    text-align: center;
    height: 42px;
    
}
#graph2 td:nth-child(2){
    width: 565px;
    height: 42px;
    text-align: center;
}
#graph2 th:nth-child(1){
    width: 933px;
    height: 52px;
    
}
#graph2 th:nth-child(2){
    width:0px;
    height: 52px;
    
}