*{
    margin: 0px;
    padding: 0px;
    outline: none;
}
select{
    
    -moz-appearance:none;
    background-image: url("../../img/sanjiao.png");
    background-position-x: 140px;
    background-position-y: 7px;

    background-repeat: no-repeat;
    -webkit-appearance: none;
    padding-left: 5px;
    padding-right: 20px;
    background-size: 14px 14px;
}
select::-ms-expand { display: none; }   

#search{
    background-image: url(../../img/13-1-kuang.png);
    background-repeat: no-repeat;
    width: 961px;
    height: 195px;
    position: absolute;
    left: 20px;
    color:white;
    top:10px;
    padding-left: 55px;
}
#search>div{
    display: inline-table;
    margin: 20px;
    margin-top:60px;
    width: 15%;
    margin-right: 10px;
}
#search button{
    background-color: rgba(29, 47, 60, 0.8);
    color: white;
    text-align: center;
    height: 30px;
    width: 50px;
    font-size: 18px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(20, 221, 231);
    border-image: initial;
    border-radius: 15px;
    position: relative;
    top:26px;
}
select{
    width: 160px;
    height: 30px;
    background-color: rgba(29, 47, 60, 0.8);
    color: white;
    border: 1px solid rgb(20,221,231);
    border-radius: 10px;
    text-align: center;    
    outline: none;
    
}
select::-webkit-scrollbar {/*滚动条整体样式*/
    background-color: transparent;
}
select::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background-color: transparent;
}
select::-webkit-scrollbar-track {/*滚动条里面轨道*/
    background-color: transparent;
}
input{
    border: 1px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 10px;
    color: white;
    text-align: center;   
    height: 25px; 
}
#background{
    width:961px;
    height: 195px;
    position: absolute;
    left: 20px;
    top: 200px;

}

#graph1{
    width: 948px;
    color:white;
    text-align: center;
    margin-top:4px;
    margin-left:9px; 
}

#graph1 table,th,td{
    border: 2px solid rgb(11, 174, 231);
}
#graph1 th{
    height:52px;
}
#graph1 td{
    height:42px;
}



#graph1 table{
    border-collapse:collapse;

}

#graph1_tab2_box::-webkit-scrollbar {/*滚动条整体样式*/
    width: 15px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#graph1_tab2_box::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background-color: rgba(193, 193, 193);
    background-repeat: no-repeat;
    }
#graph1_tab2_box::-webkit-scrollbar-track {/*滚动条里面轨道*/
        background: #EDEDED;
    }
#graph1_tab2_box{
    max-height: 347px;
    overflow-y: scroll;
    border-bottom: 2px solid rgb(20,221,231);
}
#graph1 tbody{
    display:block;
    text-align: center;
}
#graph1 thead tr{
    display:block;
}


#graph1 th:nth-child(1){
    width: 80px;
}
#graph1 td:nth-child(1){
    width: 80px;
}
#graph1 th:nth-child(2){
    width: 220px;
}
#graph1 td:nth-child(2){
    width: 220px;
}
#graph1 th:nth-child(3){
    width: 200px;
}
#graph1 td:nth-child(3){
    width: 200px;
}
#graph1 th:nth-child(4){
    width: 140px;
}
#graph1 td:nth-child(4){
    width: 140px;
}
#graph1 th:nth-child(5){
    width: 149px;
}
#graph1 td:nth-child(5){
    width: 149px;
}
#graph1 th:nth-child(6){
    width: 151px;
}
#graph1 td:nth-child(6){
    width: 134px;
}
#graph1 button{
    background-color: rgba(29, 47, 60, 0.8);
    color: white;
    text-align: center;
    height: 30px;
    width: 50px;
    font-size: 18px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(20, 221, 231);
    border-image: initial;
    border-radius: 15px;
    position: relative;
    left: 7px;
    font-size: 15px;
}


#time div {
    border: 1px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 10px;
    color: white;
    text-align: center;
    height: 25px;
    width: 150px;
}

#time input:nth-child(1) {
    width: 60px;
    height: 25px;
    background-color: transparent;
    float: left;
    border: 0px;
    border-radius: 10px 0px 0px 10px;
    position: relative;
    top: 1px;
    left: 4px;
    line-height: 25px;    
    font-size: 12px;
}

#time input:nth-child(3) {
    height: 25px;
    width: 60px;
    float: right;
    border: 0px;
    background-color: transparent;
    border-radius: 0 10px 10px 0px;
    position: relative;
    top: 1px;
    right: 4px;
    line-height: 25px;
    font-size: 12px;
    
}



#JTC_BG_DIV table,#JTC_BG_DIV tr, #JTC_BG_DIV th,#JTC_BG_DIV td{
    border: 1px solid rgb(11, 174, 220);
    border-collapse:collapse;
    color: white;
    text-align: center;
    font-size: 15px;
}
#JTC_BG_DIV input{
    color:white;
    text-align: center;
    font-size: 15px;
}
#JTC_MonthSelector table,#JTC_MonthSelector tr, #JTC_MonthSelector th,#JTC_MonthSelector td{
    border: 1px solid rgb(11, 174, 220);
    border-collapse:collapse;
    color: white;
    text-align: center;
    font-size: 15px;
}
#JTC_MonthSelector input{
    color:white;
    text-align: center;
    font-size: 15px;
}
#JTC_MonthSelector{
    border:0px  !important;
}
#JTC_MonthSelector table{
    background-color: rgba(29, 47, 60, 1)
}
#JTC_YearSelector table,#JTC_YearSelector tr, #JTC_YearSelector th,#JTC_YearSelector td{
    border: 1px solid rgb(11, 174, 220);
    border-collapse:collapse;
    color: white;
    text-align: center;
    font-size: 15px;
}
#JTC_YearSelector{
    border:0px  !important;

}
#JTC_YearSelector input{
    color:white;
    text-align: center;
    font-size: 15px;
    display: inline-block;
}
#JTC_YearSelector table{
    background-color: rgba(29, 47, 60, 1)
}









#record2{
    width:947px;
    height: 380px;
    position: absolute;
    left: 27px;
    top: 210px;
    border: 2px solid rgb(11, 174, 220);
    display: none
}
#graph2{
    width: 100%;
    color:white;
    text-align: center;    
    height: 330px;
    overflow-y: scroll;
    border-bottom: 2px solid rgb(0, 147, 237);
    
}

#record2>div{
    width: 947px;
}

#record2>button:nth-child(2){
    position: absolute;
    bottom: 9px;
    left: 433px;
    border: 1px solid rgb(20,221,231);
    border-radius: 15px;
    color: white;
    background-color: rgba(11, 37, 54,0.6);
    cursor: pointer;
    height: 30px;
    width: 70px;
}

#record2_title{
    height: 50px;
}

#record2_title div{
    display: inline-block;
    width: 15%;
    height: 25px;
    border: 1px solid rgb(20,221,231);
    border-radius: 10px;
    background-color: rgba(29, 47, 60, 0.8);
    margin-left: 20%;
    margin-top: 17px;
    text-align: center;
    color: white;
}

#record2_title button{
    border: 0px;
    background-color: transparent;
    background-image: url(../../img/10-2-ziti_shengchengxunjianbaogao_kuagn.png);
    background-repeat: no-repeat;
    color:white;  
    margin-left: 30%;
    margin-top: 5px;
    width: 154px;;
    height: 34px;    
    cursor: pointer;  
}


#graph2 table,#graph2 td{
    border-width: 1px !important;
}
#graph2 table{
    width: 100%;
    margin-bottom: 20px;
}

#graph2 tbody{
    display:block;
    text-align: center;
}
#graph2 thead tr{
    display:block;
}


#graph2::-webkit-scrollbar {/*滚动条整体样式*/
    width: 12px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#graph2::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background-color: rgba(193, 193, 193);
    background-repeat: no-repeat;
    }
#graph2::-webkit-scrollbar-track {/*滚动条里面轨道*/
        background: rgb(43, 68, 80)
    }
#graph2 thead tr{
    display:block;
}

#graph2 table{
    width:100%;
    color: white;
    border-collapse:collapse;
    
}

#graph2 td:nth-child(1){
    width: 374px;
    text-align: center;
    height: 42px;
    
}
#graph2 td:nth-child(2){
    width: 565px;
    height: 42px;
    text-align: center;
}
#graph2 th:nth-child(1){
    width: 933px;
    height: 52px;
    
}
#graph2 th:nth-child(2){
    width:0px;
    height: 52px;
    
}


.value_left{
    width: 40%;
    height: 100%;
    display: inline-block;
    line-height: 42px;
    
}
.value_right{
    width: 58%;
    height: 100%;
    display: inline-block;
    border-left: 1px solid rgb(0, 174, 231);
    line-height: 42px;
}
.no_pass{
    color:red;
}