*{
    outline: none;
}
button:active{
    transform: translateY(2px);
}
#background{
    height: 570px;
    width: 940px;
    border: 2px solid rgb(11, 174, 231);
    background-color: rgba(29, 47, 60, 0.5);
    position: relative;
    top:10px;
    left: 10px;
}
#message{
    width: 100%;
    height: 480px;
    border-bottom: 2px solid rgb(20,221,231);
    text-align: center;
    padding-top: 40px;
}

#photo{
    height:300px;
    width: 200px;
    float: left;
    display: flex;    
    flex-direction: column ;   
    justify-content: center ;
    align-items:center
}
#photo img{
    display: block;    
    width: 120px;
    height: 160px;
}
#photo span{
    display: block;
    text-align: center;
    color: white;
    margin-top: 10px;
}
#photo button{
    display: block;
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 15px;
    color: white;
    text-align: center;
    height: 30px;
    width: 100px;
    margin: 0 20px;
    margin-top: 25px;
    cursor: pointer;
}


#detail{
    height: 300px;
    width: 200px;
    display: flex;    
    flex-direction: column ;   
    justify-content: space-between ;
    align-items:center
}
#detail span{
    color: white;
    font-size: 15px;
}
#detail input{
    border: 1px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 15px;
    color: white;
    height: 25px;
    width: 100px;
    font-size: 15px;    
}
#detail select{
    border: 1px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 15px;
    color: white;
    height: 25px;
    width: 100px;
    font-size: 15px;   
}

#operate{
    
}

#operate button{
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 15px;
    color: white;
    height: 25px;
    width: 100px;
    font-size: 15px; 
    margin-left: 40px;
    margin-top: 12px;
    cursor: pointer;
}

/* #background{
    display: none;
} */



#record{
    height: 570px;
    width: 940px;
    border: 2px solid rgb(11, 174, 231);
    background-color: rgba(29, 47, 60, 0.5);
    position: relative;
    top:10px;
    left: 10px;
    color: white;
    display: none;
}

#graph{
    height: 480px;
    width: 100%;
    border-bottom: 2px solid rgb(11, 174, 231);
    border-top: 2px solid rgb(11, 174, 231);
    margin-top: 45px;
}


#graph table,th,td{
    border: 1px solid rgb(11, 174, 231);
}
#graph th{
    height:52px;
}
#graph td{
    height:40px;
}



#graph table{
    border-collapse:collapse;
    width: 100%
}

#graph tbody::-webkit-scrollbar {/*滚动条整体样式*/
    width: 13px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#graph tbody::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background-color: rgba(193, 193, 193);
    background-repeat: no-repeat;
    }
#graph tbody::-webkit-scrollbar-track {/*滚动条里面轨道*/
        background: #EDEDED;
    }
/*滚动条整体样式*/
/*滚动条里面小方块*/
/*滚动条里面轨道*/
#graph tbody{
    display:block;
    height: 425px;
    overflow-y: scroll;
    text-align: center;
}
#graph thead tr{
    display:block;
}
#graph button{
    background-color: rgba(29, 47, 60, 0.8);
    color: white;
    text-align: center;
    font-size: 15px;
    height: 30px;
    width: 50px;
    font-size: 18px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(20, 221, 231);
    border-image: initial;
    border-radius: 15px;
}

#graph th:nth-child(1){
    width: 150px;
}
#graph td:nth-child(1){
    width: 150px;
}
#graph th:nth-child(2){
    width: 150px;
}
#graph td:nth-child(2){
    width: 150px;
}
#graph th:nth-child(3){
    width: 150px;
}
#graph td:nth-child(3){
    width: 150px;
}
#graph th:nth-child(4){
    width: 150px;
}
#graph td:nth-child(4){
    width: 150px;
}
#graph th:nth-child(5){
    width: 150px;
}
#graph td:nth-child(5){
    width: 150px;
}
#graph th:nth-child(6){
    width: 171px;
}
#graph td:nth-child(6){
    width: 158px;
}

#graph td:nth-child(6) button:nth-child(1){
    position: relative;
    left: -10px;
}
#graph td:nth-child(6) button:nth-child(2){
    position: relative;
    left: 10px;
}

#operate2{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

#operate2 button {
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 15px;
    color: white;
    height: 25px;
    width: 100px;
    font-size: 15px; 
    margin-left: 40px;
    margin-top: 12px;
    cursor: pointer;
}
#operate2 input{
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 15px;
    color: white;
    height: 25px;
    width: 200px;
    font-size: 15px; 
    margin-left: 500px;
    margin-top: 12px;
}

#chakan_img img{
    width: 120px;
    height: 160px;
}
#chakan_img{
    position: absolute;
    top:200px;
    left: 400px;
    display: none;
}
#add{
    cursor: pointer;
    background-color: rgba(29, 47, 60, 0.8);
    color: white;
    text-align: center;
    height: 25px;
    width: 100px;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(20, 221, 231);
    border-image: initial;
    border-radius: 15px;
    float: right;
    margin-right:20px;
    margin-top: 11px; 
}

#add_div{
    padding: 20px;
    position: absolute;
    top:50px;
    left: 260px;
    border: 2px solid rgb(11, 174, 231);
    background-color: rgba(29, 47, 60, 1);
    border-radius: 20px;
    display: none;
}

.pop-close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}