*{
    outline: none;
    font-family: '宋体'
}
body{
    background-color: rgb(240, 240, 240) !important;

}
input{
    text-indent:5px;
}
button:active{
    transform: translateY(1px);
}
#register{
    margin: 60px auto;
    height: 400px;
    width: 320px;
    position: relative;
    padding: 30px;
    box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.3)
}
p{
    color: white;
    font-size: 25px;
    text-align: center;
    color: black;
}
#register p{
    margin-bottom: 60px;
}
#register input{
    height: 35px;
    width: 200px;
    margin: 15px auto;
}
#register button{
    display: block ;
    height: 30px;
    width: 100px;
    margin: 80px auto ;
}