*{
    outline: none;
}

input{
    text-indent:3px;    
}
button:active{
    transform: translateY(2px);
}
#background{
    height: 570px;
    width: 940px;
    border: 2px solid rgb(11, 174, 231);
    background-color: rgba(29, 47, 60, 0.5);
    position: relative;
    top:10px;
    left: 10px;
}
#message{
    width: 100%;
    height: 480px;
    border-bottom: 2px solid rgb(20,221,231);
    text-align: center;
    padding-top: 40px;
}

.photo{
    height:300px;
    width: 200px;
    float: left;
    align-items:center;
    position: relative;
    top:20px;
}
.photo img{
    display: block;    
    width: 120px;
    height: 160px;
    margin: 10px auto;
}
.photo span{
    display: block;
    text-align: center;
    color: white;
    margin-top: 10px;
}
.photo button{
    display: block;
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 15px;
    color: white;
    text-align: center;
    height: 30px;
    width: 100px;
    margin: 0 auto;
    margin-top: 25px;
    cursor: pointer;
}


.detail{
    height: 300px;
    width: 200px;
    float: left;
    align-items:center
}
.detail>div{
    margin-bottom: 34px;
}
.detail span{
    color: white;
    font-size: 15px;
    line-height: 25px;
}
.detail input{
    border: 1px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 15px;
    color: white;
    height: 25px;
    width: 100px;
    font-size: 15px;    
}
.detail select{
    border: 1px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 15px;
    color: white;
    height: 25px;
    width: 100px;
    font-size: 15px;   
}
#detail_power>span{
    line-height: 29px;
}
#detail_power_select{
    display: inline-block;
    border: 1px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 15px;
    color: white;
    height: 25px;
    width: 100px;
    font-size: 15px;   
}
#detail_power_select {
    line-height: 25px;
}
#detail_power_option{
    display: none;
    width: 100px;
    position: absolute;
    top: 290px;
    left: 286px;
    border: 1px solid rgb(20, 221, 231);
    background-color: rgb(26,38,45);
    border-radius: 10px;
    z-index: 50;
    padding: 0;
    overflow: hidden;
}
#detail_power_option li{
    list-style: none;
    color: white;
    font-size: 14px;
    width: 100%;   
    cursor: default;
    text-align: center;
}
#detail_power_option li:hover{
    background-color: rgba(20, 221, 231,0.4);
}
.looking{
    background-color: rgba(20, 221, 231,0.6);

}
#operate button{
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 15px;
    color: white;
    height: 25px;
    width: 100px;
    font-size: 15px; 
    margin-left: 40px;
    margin-top: 12px;
    cursor: pointer;
}





#record{
    height: 570px;
    width: 940px;
    border: 2px solid rgb(11, 174, 231);
    background-color: rgba(29, 47, 60, 0.5);
    position: relative;
    top:10px;
    left: 10px;
    color: white;
    display: none;
}
#record input[type="checkbox"]{
    width: 1.5em;
    height: 1.5em;
}
.x{
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-image: url(../../img/x.png);
    background-size: 20px;
}

#graph{
    height: 480px;
    width: 100%;
    border-bottom: 2px solid rgb(11, 174, 231);
    border-top: 2px solid rgb(11, 174, 231);
    margin-top: 45px;
}

#graph table,th,td{
    border: 1px solid rgb(11, 174, 231);
}
#graph th{
    height:52px;
}
#graph td{
    height:40px;
}



#graph table{
    border-collapse:collapse;
    width: 100%
}

#graph tbody::-webkit-scrollbar {/*滚动条整体样式*/
    width: 13px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#graph tbody::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background-color: rgba(193, 193, 193);
    background-repeat: no-repeat;
    }
#graph tbody::-webkit-scrollbar-track {/*滚动条里面轨道*/
        background: #EDEDED;
    }

#graph tbody{
    display:block;
    text-align: center;
}
#grapg_table2_box{
    height: 423px;
    overflow-y: scroll;
}
#graph thead tr{
    display:block;
}
#graph button{
    background-color: rgba(29, 47, 60, 0.8);
    color: white;
    text-align: center;
    height: 30px;
    width: 50px;
    font-size: 18px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(20, 221, 231);
    border-image: initial;
    border-radius: 15px;
}
#graph th:nth-child(1){
    width: 145px;
  }
  #graph td:nth-child(1){
    width: 145px;
  }
  #graph th:nth-child(2){
    width: 165px;
  }
  #graph td:nth-child(2){
    width: 165px;
  }
  #graph th:nth-child(3){
    width: 165px;
  }
  #graph td:nth-child(3){
    width: 165px;
  }
  #graph th:nth-child(4){
    width: 165px;
  }
  #graph td:nth-child(4){
    width: 165px;
  }
  #graph th:nth-child(5){
    width: 145px;
  }
  #graph td:nth-child(5){
    width: 145px;
  }
  #graph th:nth-child(6){
    width: 134px;
  }
  #graph td:nth-child(6){
    width: 117px;
  }
  /* #graph th:nth-child(7){
    width: 105px;
  }
  #graph td:nth-child(7){
    width: 87px;
  }
   */

#graph td button{
    font-size: 15px;
}
#graph td:nth-child(7) button{
    position: relative;
    left: 8px;
}

#operate2{
    height: 40px;
    width: 100%;
    align-items: center;
    position: relative;
    top:-6px;
}

#operate2 button {
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 15px;
    color: white;
    height: 25px;
    width: 100px !important;
    font-size: 15px; 
    margin-left: 40px;
    margin-top: 12px;
    cursor: pointer;
}
#operate2 input{
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 15px;
    color: white;
    height: 25px;
    width: 200px;
    font-size: 15px; 
    position: absolute;
    left: 730px;
    top: 11px;
}

#chakan_img img{
    width: 120px;
    height: 160px;
}
#chakan_img{
    position: absolute;
    top:200px;
    left: 400px;
    display: none;
}
#add{
    cursor: pointer;
    background-color: rgba(29, 47, 60, 0.8);
    color: white;
    text-align: center;
    height: 25px;
    width: 100px;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(20, 221, 231);
    border-image: initial;
    border-radius: 15px;
    float: right;
    margin-right:20px;
    margin-top: 11px; 
}
#add_detail>div{
    margin-bottom: 24px;
}
#add_div{
    height: 400px;
    width: 400px;
    padding: 20px;
    position: absolute;
    top:50px;
    left: 260px;
    border: 2px solid rgb(11, 174, 231);
    background-color: rgba(29, 47, 60, 1);
    border-radius: 20px;
    display: none;
}



#add_file_input{
    opacity: 0;
    width: 0px;
    height: 0px;
}


#add_select{
    display: inline-block;
    border: 1px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 15px;
    color: white;
    height: 25px;
    width: 100px;
    font-size: 15px;
    text-align: center;
}
#add_option{
    width: 100px;
    position: absolute;
    top: 169px;
    left: 34px;
    border: 1px solid rgb(20, 221, 231);
    background-color: rgb(26,38,45);
    border-radius: 10px;
    z-index: 50;
    padding: 0;
    overflow: hidden;
    display: none;
}
#add_option li:hover{
    background-color: rgba(20, 221, 231,0.4);

}
#add_option li{
    list-style: none;
    color: white;
    font-size: 14px;
    width: 100%;
    cursor: default;
    text-align: center;
}






.pop-close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
}

#current{
    color:white;
    position: relative;
    top:30px;
    width: 200px;
    height: 30px;
    margin: 0;
    overflow: hidden;
    font-size: 17px;
}

#record .pop-close{
    top:10px;
    right: 10px;
}
#record .detail{
    height: 280px;
    position: relative;
    top:20px;
}
#record .detail div:nth-child(1){
    position: relative;
    left: -8px;
}
#record .photo{
    top:0px;
}

#add_tijiao{
    float: left;
    border: 2px solid rgb(20,221,231);
    background-color: rgba(29, 47, 60, 0.8);
    border-radius: 15px;
    color: white;
    text-align: center;
    height: 30px;
    width: 100px;
    cursor: pointer;
    z-index: 2;
    position: relative;
    top: 70px;
    left: -40px;
}






